{% extends 'home/base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block content %}
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-sm-9 main_content">
            {% if user.first_name %}
                <h1>Hi {{user.first_name}}!</h1>
            {% else %}
                <h1>Hi {{user}}!</h1>
            {% endif %}

            <p>Progress bar</p>
        </div>
        <div class="col-sm-3 side_bar">
            <h3>Your Stats</h3>
            <p>Member since {{user.date_joined}}</p>
            {% if user.profile.free_trial %}
                <p>You are currently on your free trial</p>
                <p>Days left of Free Trial: <span>4</span><p>
                <p><a href="#">Sign up for Subscription</a></p>
            {% endif %}
            {% if user.profile.paying_subscription %}
                <p> You are paying the Monthly subscription </p>
                <p> Monthly Subscription: <span>€22 </span> per month<p>
            {% endif %}
            {% if not user.profile.free_trial and not user.profile.paying_subscription%}
                <p>Your free Trial has ended<br> Please <a href="#">Sign up for a Subscription</a> to continue learning</p>
            {% endif %}
            
        </div>
        {% else %}
        <div class="col-sm-9 main_content">
            <h1>Course Details</h1>
            <p>30 days free</p>
            
        </div>
        <div class="col-sm-3 side_bar">
            <h2>Register for Free!</h2>
            <form role="form" method="post" action="{% url 'register' %}">
            {% csrf_token %} {{ reg_form | as_bootstrap }}
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-success hvr-grow">Register</button>
            </div>
            </form>
        </div>
        {% endif %}
    </div>


{% endblock content %}